html, body {
    height: 100%;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Green snackbar */
.my-green-snackbar {
    color: white;
    background-color: darkgreen;

    span {
        color: white;
    }
}

/* Red snackbar */
.my-red-snackbar-1, .my-red-snackbar-2 {
    color: white;
    background-color: darkred;

    span {
        color: white;
    }
}

.my-red-snackbar-1 {
    min-width: 480px !important;
}

.my-red-snackbar-2 {
    min-width: 430px !important;
}

/* Router fade animation */
router-outlet + * {
  display: block;
  animation: fade 0.2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}